<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-4">
        <h1 class="display-4 font-weight-bolder">
          Journey Through Pages, One Bookshop At a Time
        </h1>
        <p class="lead">
          Lorem ipsum dolor sit amet at enim hac integer volutpat maecenas
          pulvinar.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div>
          <label for="exampleSelect" class="form-label mt-4"
            >Choose Category</label
          >
          <select
            class="form-select"
            id="categorySelect"
            [(ngModel)]="selectedCategoryId"
          >
            <option value="0">All Categories</option>
            <option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        *ngFor="let product of products"
        [class.d-none]="product.categoryId.toString() != selectedCategoryId && selectedCategoryId != '0'"
        class="col-sm-12 col-md-6 col-lg-4 mb-4"
      >
        <div
          class="card text-dark card-has-bg click-col"
          style="
            background-image: url('https://api.unsplash.com/search/collections?page=1&query=office');
          "
        >
          <img
            class="card-img"
            [src]="product.imgs[0]"
            alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">{{ product.isbn }}</small>
              <h4 class="card-title mt-0">
                <a class="text-dark" herf="#">{{ product.author }}</a>
              </h4>
              <small class="badge bg-light"
                ><i class="far fa-clock"></i> $
                {{ product.price.toFixed(2) }}</small
              >
            </div>
            <div class="card-footer">
              <div class="media">
                <img
                  class="mr-3 rounded-circle"
                  src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80"
                  alt="Generic placeholder image"
                  style="max-width: 50px"
                />
                <div class="media-body">
                  <h6 class="my-0 text-dark d-block">{{ product.author }}</h6>
                  <small>{{ getCategoryName(product.categoryId) }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
