<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <label for="" class="form-label">Choose Category</label>
    <select
      class="form-select form-select-lg"
      name=""
      id=""
      [(ngModel)]="selectedCategoryId"
    >
      <option value="0" selected>All Categories</option>
      <!-- <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option> -->
      @for (category of categories; track category.id) {
      <option [value]="category.id">
        {{ category.name }}
      </option>
      }
    </select>
  </div>
</div>
